<!-- <lib-promotion [promotion]="promotion"></lib-promotion> -->

<lib-carousel
  *ngIf="carousel"
  [slides]="carousel"
></lib-carousel>

<lib-wide-container
  *ngIf="wideContainer"
  [widedata]="wideContainer"
></lib-wide-container>

<lib-wide-container
  *ngIf="middleWideContainer"
  [widedata]="middleWideContainer"
></lib-wide-container>

<lib-full-wide-container
  *ngIf="fullWideContainer"
  [fullWideContent]="fullWideContainer"
></lib-full-wide-container>


<lib-wide-container
  *ngIf="bottomWideContainer"
  [widedata]="bottomWideContainer"
></lib-wide-container>
<!-- <div class="border p-4 d-flex justify-content-center mb-4">
  <lib-horizontal-card></lib-horizontal-card><lib-horizontal-card></lib-horizontal-card>
</div> -->

