
<!-- <section style="background-color: lightgrey;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin-top: 1rem;">
        <p>
          <input type="date" [(ngModel)]="students.dob" name="Students.dob">

          <button (click)="checkDate()">Check Date</button>
        </p>
      </div>
      </div>
  </div>

</section> -->
<!-- <input type="date" > -->
<!-- <section style="background-color: lightgrey;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin-top: 1rem;" *ngIf="notificationVarition && notificationText">
        <lib-notification [variation]="notificationVarition" [labelText]="notificationText" [isRoundPill]="true"></lib-notification>
      </div>
    </div>
  </div>
</section> -->
<section style="background-color: lightgrey;" *ngIf="fullCardOne">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin-top: 1rem;">
        <lib-full-card [card]="fullCardOne"></lib-full-card>
      </div>
    </div>
  </div>
</section>
<section style="background-color: lightgrey;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ">
        <lib-horizontal-card
          [content]="horizontalCardOne">
        </lib-horizontal-card>
      </div>
      <div class="col-lg-6">
        <lib-horizontal-card
          [content]="horizontalCardTwo">
        </lib-horizontal-card>
      </div>
      <!-- <div class="col-lg-4" style="margin-top: 1rem;">
        <lib-horizontal-card
          [content]="horizontalCard">
        </lib-horizontal-card>
      </div> -->
    </div>
  </div>

</section>

<section style="background-color: lightgrey;" *ngIf="fullCardTwo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <lib-full-card [card]="fullCardTwo"></lib-full-card>
      </div>
    </div>
  </div>

</section>



<!-- <h1>Link Tester!</h1>
<a [routerLink]="['']">Go Back</a> -->

